################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Logging.v12.suo
/src/Logging/bin/Debug
/src/Logging/obj/Debug
/src/Logging/bin/Release
/src/Logging/obj/Release
/Help/LoggingHelp.shfbproj_Timon
/Help/Logging_Help_Log.log
/Help/Output
/src/TC.Logging/bin
/src/TC.Logging/obj
/src/_Build/obj/Debug
/src/TC.Logging.v12.suo
/src/TC.Logging_WithHelp.v12.suo
/Help/TC.Logging_Help_Log.log
/src/.vs/TC.Logging/v14/.suo
