################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Logging.v12.suo
/src/Logging/bin/Debug
/src/Logging/obj/Debug
